{
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSameLine": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.ts", "*.js", "*.mjs"],
      "excludeFiles": ["vite.config.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
